@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Indie+Flower');

body {
	background-color: orange;
}

h1 {
	font-family: 'Indie Flower', cursive;
	color:blue;
	font-size: 4em;
	text-align: center;
}

img {
	margin: 0 auto;
	display: block;
	border: 10px solid blue;
}