@import url('https://fonts.googleapis.com/css?family=Bubbler+One');

body {
	background-color: orange;
}

h1 {
	font-family: 'Bubbler One', sans-serif;
	color:blue;
	font-size: 4em;
	text-align: center;
}

img {
	margin: 0 auto;
	display: block;
}