@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Indie+Flower|Josefin+Sans');

body {
	background-color: orange;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	color:blue;
	font-size: 4em;
	text-align: center;
}

img {
	margin: 0 auto;
	display: block;
	border: 20px solid blue;
}